<section class="vertareas">
    <div class="usuario-info">
        <h1>@ViewBag.Usuario.username</h1>
        <img src="@ViewBag.Usuario.foto" alt="Foto de usuario" />

    <form method="post" action="@Url.Action("EditarFoto", "Home")">
        <button type="submit" class="btn-3">Editar foto</button>
    </form>

    </div>

    @if (ViewBag.Tareas != null && ViewBag.Tareas.Count > 0)
    {
        <h2>Tareas pendientes:</h2>
        <div class="tareas-list">
            @foreach (var tarea in ViewBag.Tareas)
            {
                <div class="tarea-card">
                    <h3>@tarea.titulo</h3>
                    <p><strong>Descripción:</strong> @tarea.descripcion</p>
                    <p><strong>Fecha:</strong> @tarea.fecha.ToShortDateString()</p>
                    <a href="@Url.Action("finalizarTarea", "Home", new { id = tarea.Id })">
                        <button class="btn-secundario">Finalizar Tarea</button>
                    </a>
                    <a href="@Url.Action("editarTarea", "Home", new { id = tarea.Id })">
                        <button class="btn-4">Editar Tarea</button>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <p class="verde">Tenés todo al día, no hay tareas pendientes!</p>
    }

    <a href="@Url.Action("CrearTarea", "Home")">
        <button class="btn-principal">Crear Tareas</button>
    </a>
</section>
